# Note: you cannot put comment after the string
# this will cause gitignore to treat as [string # string]

# jumping sushi server
last_scheduled_msg_id_js.txt 
# my own server
last_scheduled_msg_id_lz.txt 
ps.psd
__pycache__/